{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}

    <form onsubmit="event.preventDefault(); login()">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}