{% extends "layout.html" %}

{% block title %}
    Match History
{% endblock %}

{% block head %}
    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
{% endblock %}

{% block main %}
    <h2>
        Match History
    </h2>
        <div class="mb-3">
            <table id="matches-list" class="table table-hover">
                <thead>
                    <th>Deck Name</th>
                    <th>Deck Type</th>
                    <th>Match result</th>
                    <th>Match timestamp</th>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    <script type="module" src="/static/js/api/match_history.js"></script>
    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
{% endblock %}