{% extends "layout.html" %}

{% block title %}
    Register deck
{% endblock %}

{% block head %}
    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
{% endblock %}

{% block main %}

    <form id="register-deck-form">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="deck_name" placeholder="Deck Name" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Register deck</button>
    </form>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("register-deck-form").addEventListener("submit", async function(event) {
                event.preventDefault();

                const token = localStorage.getItem("access_token");
                const deckName = document.getElementById("deck_name").value;

                const response = await fetch("/api/register_deck", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "Authorization": `Bearer ${localStorage.getItem("access_token")}`
                    },
                    body: JSON.stringify({ deck_name: deckName })
                });

                const data = await response.json();

                if (response.ok) {
                    // localStorage.setItem("deck", data.deck);
                    localStorage.setItem("username", data.username);
                    localStorage.setItem("flashMessage", `Deck ${deckName} registered!`);
                    localStorage.setItem("flashType", "success");
                    window.location.href = "/";
                } else {
                    alert("Error: " + data.error);
                }
            })
        });
    </script>

{% endblock %}