{% extends "layout.html" %}

{% block title %}
    Register deck
{% endblock %}

{% block head %}
    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
{% endblock %}

{% block main %}

    <form id="register-deck-form">
        <div class="mb-3">
            <select id="deck_type" class="form-select mx-auto w-auto" required>
                <option value="" disabled selected>Loading deck types...</option>
                <option value="Standard">Standard</option>
                <option value="Modern">Modern</option>
                <option value="Commander">Commander</option>
            </select>
        </div>
        <div id="commander_field" class="mb-3" style="display: none;">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="commander_name" placeholder="Commander Name" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="deck_name" placeholder="Deck Name" type="text">
        </div>

        <button class="btn btn-primary" type="submit">Register deck</button>
    </form>

    <script src="/static/js/deck_types.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/deckForm.js') }}"></script>
    <script src="/static/js/registerDeck.js"></script>
{% endblock %}