{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

<div class="flex items-center justify-center min-h-screen bg-gray-100 px-4">
    <div class="w-full max-w-md bg-white p-8 rounded-2xl shadow-xl space-y-6">
      <div class="flex justify-center"> <img src="{{ url_for('static', filename='img/logo.png') }}"
        alt="TCG Tracker Logo"  class="h-30 w-auto mb-2"> </div>
      <form id="register-form" class="space-y-6">
        <h2 class="text-2xl font-bold text-center text-violet-600">Create Account</h2>
  
        <input id="username" type="text" placeholder="Username" autocomplete="off" autofocus
          class="w-full px-4 py-3 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-violet-500" />
  
        <input id="password" type="password" placeholder="Password"
          autocomplete="new-password"
          class="w-full px-4 py-3 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-violet-500" />
  
        <input id="confirmation" type="password" placeholder="Confirm Password"
          autocomplete="new-password"
          class="w-full px-4 py-3 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-violet-500" />
  
        <button type="submit"
          class="w-full bg-violet-700 hover:bg-violet-600 text-white font-semibold py-3 rounded-xl shadow-md transition duration-300">
          Register
        </button>
      </form>
  
      <a href="/login"
        class="block text-center w-full bg-neutral-50 hover:bg-violet-800 text-violet-600 font-semibold hover:text-white py-3 rounded-xl shadow-md transition duration-300">
        Already have an account? Log in
      </a>
    </div>
  </div>
  
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/auth/register.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ui/hideNavbar.js') }}"></script>
{% endblock %}
