@media (max-width: 767px) {
    #flash-message {
      border-radius: 9999px; /* estilo pill en móvil */
      max-width: 90%;
      word-wrap: break-word;
    }
  }

.active-indicator {
    transition: all 0.3s ease-in-out;
  }

.commander-suggestions {
    position: absolute;
    top: calc(100% + 2px);
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    min-width: 100%;
    max-width: max-content; 
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 5px 0;
    overflow-y: auto;
    max-height: 300px;
}

.commander-suggestions li {
    padding: 8px 12px;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}
.commander-suggestions li:hover {
    background-color: #f8f9fa;
}

.hidden {
    display: none !important;
}

.show {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
}

#nav-home, #nav-profile, #nav-my-decks, #nav-logout {
    visibility: hidden;
}

#nav-home.show, #nav-profile.show, #nav-my-decks.show, #nav-logout.show {
    display: block !important;
    visibility: visible;
}
